<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MockMate – Schedule Your Free Mock Interview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- Header -->
    <header class="site-header">
        <div class="logo">MockMate</div>
        <nav>
            <ul class="nav-links">
                <li><a href="/contact">Contact</a></li>
                
            </ul>
        </nav>
    </header>

    <!-- Main Content -->
    <div class="form-container">
        <h2>Schedule Your Free Mock Interview With College Students <br>  Languages : English , Hindi , Marathi</h2>
        {% if message %}
        <p class="success">{{ message }}</p>
        {% endif %}
         <form method="POST">
            <input type="text" name="name" placeholder="Your Full Name" required><br>
            <input type="email" name="email" placeholder="Your Email Address" required><br>
            <select name="domain" class="styled-select" required>
                <option value="">Select Domain</option>
                <option value="Frontend Development">Frontend Development</option>
                <option value="Backend Development">Backend Development</option>
                <option value="Full Stack Development">Full Stack Development</option>
                <option value="SQL">SQL</option>
            </select><br>
            <select name="time" class="styled-select" required>
                <option value="">Select time slot</option>
                <option value="12.00 PM - 01.00 PM">12.00 PM - 01.00 PM</option>
                <option value="05.00 PM - 06.00 PM">05.00 PM - 06.00 PM</option>
                <option value="06.00 PM - 07.00 PM">06.00 PM - 07.00 PM</option><br>
            </select><br>
            <select name="language" class="styled-select" required>
                <option value="">Select Interview language</option>
                <option value="English">English</option>
                <option value="Hindi">Hindi</option>
                <option value="Marathi">Marathi</option>
            </select><br><button type="submit">Schedule Interview</button>
        </form>
        {% if message %}
        <p class="success">{{ message }}</p>
        {% endif %}
    </div>

    <footer class="site-footer">
        <p>&copy; 2025 MockMate. All rights reserved.</p>
    </footer>
</body>
</html>
